.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #333;
  padding: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header {
  background-color: #b587af;
  color: white;
  text-align: center;
  padding: 50px;
}

.section {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.interests img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.user-table {
  background-color: #b587af;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 30%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-right: 50%;
}

